:root[data-theme="dark"] {
  --maintenance-modal-shadow: rgb(0 0 0 / 40%);
  --maintenance-modal-background: #24272a;
}

:root[data-theme="light"] {
  --maintenance-modal-shadow: rgb(44 59 88 / 10%);
  --maintenance-modal-background: #fff;
}

.maintenance {
  background: rgb(0 0 0 / 40%);
  position: absolute;
  inset: -55px 0 0;
  padding: 25px 0;
  z-index: 5;

  .modal {
    position: sticky;
    top: 80px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    background: var(--maintenance-modal-background);
    box-shadow:
      0 0 16px 0 var(--maintenance-modal-shadow),
      0 32px 32px 0 var(--maintenance-modal-shadow),
      0 16px 16px 0 var(--maintenance-modal-shadow),
      0 8px 8px 0 var(--maintenance-modal-shadow),
      0 4px 4px 0 var(--maintenance-modal-shadow),
      0 2px 2px 0 var(--maintenance-modal-shadow);

    .button {
      padding: 0 36px;
    }
  }
}
